---
title: Installing and Configuring the EDB Postgres Service Broker
owner: Partner Services
---

This topic describes how to install and configure the EDB Postgres Service Broker tile, as well as how to create an instance of the EDB Postgres service from the Marketplace of your Pivotal Cloud Foundry&reg; (PCF) deployment.

##<a id='install'></a> Install the EDB Postgres Service Broker Tile

1. Download the product file from Pivotal Network.
1. Log in to Ops Manager.
1. From the Ops Manager Installation Dashboard, click **Import a Product** and upload the product file.
1. When the upload completes, **EDB Postgres** appears in the **Available Products** list. Click **Add**.

	<%= image_tag("add-tile.png") %>

1. Click the newly added **EDB Postgres** tile to provide configuration information.

	<%= image_tag("dashboard.png") %>

1. From the **Settings** tab, click **EDB PostgreSQL**.

	<%= image_tag("edb-tile-sections.png") %>

1. Enter the Java Database Connectivity (JDBC) URL for your master PostgreSQL database server. For example, `jdbc:postgresql://ec2-23-21-53-234.compute-1.amazonaws.com:9999/postgres?user=postgres&password=postgres`.

	<%= image_tag("edb-tile-config.png") %>

1. Click **Save**.

1. Return to the Installation Dashboard and click **Apply Changes** to install the EDB Postgres Service Broker tile.

##<a id='create'></a> Create a EDB Postgres Database in Apps Manager

After installing the EDB Postgres Service Broker tile, EDB Postgres appears as a service in the Marketplace of your deployment. Developers can provision PostgreSQL databases by creating service instances using Apps Manager or the cf Command Line Interface (CLI).

Follow the instructions below to create a EDB Postgres service instance using Apps Manager.

1. Navigate to Apps Manager in a browser and log in.
1. Click **Marketplace**.

	<%= image_tag("marketplace.png") %>

1. Click **EDB Postgres**.

	<%= image_tag("add-plan.png") %>

1. Click **Select this plan**. You can also navigate to the documentation at the EnterpriseDB website by clicking **Docs**, and sign in to the EDB Customer Portal by clicking **Support**.

1. In the **Configure Instance** form, enter an **Instance Name** to identify the service instance in the deployment and click **Add**.

1. Once you have created your service instance, you can bind it to an application. For more information on binding services instances, see [Managing Apps and Service Instances Using the Apps Manager](../pivotalcf/console/manage-apps.html).
	<br><br>
	Binding a service instance to an application triggers credentials to be provisioned for the service instance and delivered to the application runtime in the `VCAP_SERVICES` environment variable. To view these credentials, navigate to an application with a bound service instance in Apps Manager and click **Env Variables**. The credentials provided to the EDB Postgres Service Broker tile have the following format:
	<br><br>
	```
	"credentials": {       
	"uri":"postgres://USERNAME:PASSWORD@HOSTNAME:PORT/DATABASE"
	}
	```

